
html {
	height: 100%;
	/* max-height: 600px; */
	width: 1000px;
	background-color:rgb(66, 66, 238);
	background-image:		
		url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
		url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
		url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png');
		/* url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png'); */
	background-repeat: repeat-x;
	background-position: 
		0 20%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size: 
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
	animation: 200s para infinite linear;
	}

@keyframes para {
	100% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	}

/* * {
    margin: 0;
    padding: 0;
} */

/* html {
    background-color:black;
    animation: 5s infinite;
} */

/* ----------------------body----------------------------------- */
body {
    /* display: flex;
    flex-wrap: wrap; */
    /* min-height: 100; */
    line-height: 1;
    /* flex-direction: column; */
    flex-wrap: wrap;
}
 
/* ------------------------profile img-------------------------- */
.img {
    /* display: flex;
    flex-wrap: wrap;  */
    justify-content: flex-end;
    margin-top: 5%;
    margin-left: 25rem;
    max-width: 100%;
    max-height: 100%;
    /* height:  */
    background: linear-gradient(to bottom, rgba(2, 2, 2, 3), rgba(2, 2, 2, 2));
    filter: contrast(160%) opacity(60%) blur(10px);
    border-radius: 50px;
    position: relative;
    left: 0;
    transition: ease 1.0s;
    
}

.img:hover {
    filter: opacity(85%) blur(0px);
    left:-3rem;
    transform: scale(1.2);
    transition: ease 0.8s;
    
    
}

.imgContainer {
    width: 50%;
    margin-top: 3%;
    
    
}


.linksContainer {
    width: 50%;
}  

/* --------------------intro--------------------------------------    */
.intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    margin-left: 20%;
    margin-right: 30%;
    margin-top:8%;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6rem;
    font-weight:500;
    text-decoration: none;
}

.hello {
    height: 3rem;
    width: 40rem;
    color: rgb(116, 223, 74);
    text-align: center;
    padding:1rem;
    text-decoration: none;
    position: relative;
    right: 0;
    transition: right ease 0.6s;
    font-weight: 750;
    filter: opacity(95%);
}

.hello:hover {
    color: red;
    background:rgb(18, 6, 71);
    border-radius: 3rem;
    right: -1.5rem;
    filter: opacity(80%);
}

.Im {
    color: rgb(243, 82, 33);
    text-align: center;
    padding: 1rem;
    text-decoration:none;
    position: relative;
    right: 0;
    transition: right ease 0.6s;
    font-weight: 750;
    filter: opacity(95%);
}

.Im:hover {
    color: rgb(45, 45, 185);
    background: rgb(147, 243, 147);
    border-radius: 3rem;
    right: -1.5rem;
    filter: opacity(80%);
    
}

.Gavin {
    color: purple;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    position: relative;
    right: 0;
    transition: right ease 0.6s;
    font-weight: 750;
    filter: opacity(95%);
}

.Gavin:hover {
    color: rgb(211, 35, 35);
    background:rgb(226, 226, 94);
    border-radius: 3rem;
    right: -1.5rem;
    filter: opacity(80%);
}

.goto {
    align-items: left;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet;
    font-size: 3rem;
    height: 10%;
    width: 62rem;
}

/* -----------------------bio--------------------------------- */
.me {
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* flex-direction: center; */
    box-sizing: border-box;
    width: 44rem;
    padding: 1.25rem;
    border: 1px solid white;
    margin-top: 10%;
    margin-left: 30%;
    border-radius: 1.5rem;
    letter-spacing:2px;
    line-height: 1.3;
    position: relative;
    right: 0;
    transition: right ease 0.5s;
    
}

/* .me:hover {
    filter: opacity(100%) blur(0px);
    background: rgb(0, 0, 0);
    right: -2.5rem;
    color: rgb(248, 246, 246);
    filter: opacity(84%);
} */

/* --------------------project titles-------------------------- */
.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15%;
    
    
}

.golf {
    display: flex;
    color: rgb(12, 12, 12);
    text-align: center;
    padding: 1.25rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-align:center;
    
}

.golf:hover {
    color: rgb(231, 230, 216);
    
    width: 25rem;
    border-radius: 10px;
    padding-bottom: 22px;
    border: 1px solid black;
    filter: opacity(90%);
    
}

.bonanza {
    display:flex;
    flex-direction: center;
    text-decoration: none;
    color:  rgb(82, 12, 24);
    text-align: center;
    padding:1.25rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.bonanza:hover {
    color: rgb(231, 230, 216);
    
    width: 23rem;
    border-radius: 10px;
    padding-bottom: 22px;
    border: 1px solid black;
    filter: opacity(90%);
    
}

.blues {
    display: flex;
    text-align: left;
    color: rgb(82, 12, 24);
    text-align: center;
    padding: 1.25rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.blues:hover {
    color: rgb(231, 230, 216);
    /* background-color: black; */
    width: 23rem;
    border-radius: 10px;
    padding-left: 1rem;
    border: 1px solid black;
    filter: opacity(90%);

}

.lite {
    display:flex;
    color: rgb(82, 12, 24);
    text-align: center;
    padding:1.25rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 400;

}

.lite:hover {
    color: rgb(231, 230, 216);
    width: 23rem;
    border-radius: 10px;
    border: 1px solid black;
    filter: opacity(90%);
    
    
}

/* --------------project images----------------------------- */
.disc{
    display: flex;
    flex-wrap: wrap; 
    width: 35%;
    border-radius: 3rem;
    filter: contrast(160%) opacity(60%) blur(4px);
    position: relative;
    transition: ease 0.5s;
    margin-right: 2.25rem;
    
    
    
}

.disc:hover {
    filter: opacity(100%) blur(0px);
    border-radius: 3rem;
    left: 0px;
    transform:scale(1.3);
    transition: ease 0.8s;
    padding: 1rem;

}

.bicycle {
    display: flex;
    flex-wrap: wrap; 
    width: 40%;
    margin-left: 100px;
    margin-right: -10rem;
    border-radius: 3rem;
    filter: contrast(160%) opacity(60%) blur(4px);
    position: relative;
    right: 0;
    transition: ease 0.5s;
}
    
.bicycle:hover{
    filter: opacity(100%) blur(0px);
    border-radius:3rem;
    right: 0px;
    transform:scale(1.3);
    transition: ease 0.8s;
    padding: 1rem;
}
    
.paddle {
    display: flex;
    flex-wrap: wrap; 
    width: 35%;
    margin-left: 6%;
    border-radius: 3rem;
    filter: contrast(160%) opacity(60%) blur(4px);
    padding: 3%;
    position: relative;
    right: 0;
    transition: ease 0.5s;
}

.paddle:hover {
    filter: opacity(100%) blur(0px);
    border-radius:3rem;
    right: 0px;
    transform:scale(1.3);
    transition: ease 0.8s;
    
}

.miller {
    display: flex;
    flex-wrap: wrap; 
    width: 40%;
    border-radius: 3rem;
    filter: contrast(160%) opacity(60%) blur(4px);
    padding: 3%;
    position: relative;
    right: 0px;
    transition: ease 0.5s;
    margin-right: -10rem;
}

.miller:hover {
    filter: opacity(100%) blur(0px);
    border-radius:3rem;
    right: 0px;
    transform:scale(1.3);
    transition: ease 0.8s;
    padding:2px;
    height: 10rem;
}

.LI-profile-badge {
    margin-right: 20px;
}

/* ----------------------footer--------------------- */
.carpe:hover {
    background: rgb(8, 8, 8);
    right: -3rem;
    color: rgb(253, 251, 251);
}

footer {
    display:flex;
    flex-wrap:wrap;
    color: rgb(238, 238, 99);
}

.email, button {
    display:flex;
    flex-wrap:wrap;
    width: 25%;
}

.carpe {
    display:flex;
    flex-wrap:wrap;
    color: whitesmoke;
    font-size: 1.5rem;
    flex-direction: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: center;
    box-sizing: border-box;
    width: 350px;
    padding: 10px;
    border: 1px solid white;
    margin-top: 20px;
    margin-left: 27%;
    margin-bottom: 20px;
    border-radius: 15px;
    letter-spacing:2px;
    line-height: 1.3;
    position: relative;
    right: 0;
    transition: right ease 0.5s;
}

.badges {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 41%;
    margin-bottom: 20%
}

.end {
    margin-top: 10%;
    margin-left: 18%;
    font-weight: 500;
}

#github {
    margin-left: .5rem;
    border-radius: 50px;
    border: solid white 1px;
    
}

#twitter {
    margin-left:4rem;
    margin-bottom:.5rem;
    border: solid white 1px;
    border-radius: 50px;

}

#linkedin {
    margin-left: 3.75rem;
    border-radius:10px;
    border: solid white 1px;
}

#resume {
    margin-left: 3.5rem;
    border: solid white 1px;
    border-radius: 10px;
    padding: -10px;
    
}

#mail {
    color:rgb(178, 252, 7);
    text-decoration: none;
}

#github:hover, #resume:hover, #linkedin:hover, #twitter:hover{
    border-color: rgb(229, 255, 0);
    border-width: 3px;
    transform:scale(1.4);
    transition: ease 0.3s;


}

/* *** MEDIA QUERIES *** */
/* @media only screen and (max-width: 1388px) {
    .intro {
        font-size: 5rem;
        margin-left: -1%;
        margin-top: -11%;
    }
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (max-width: 992px) {
    .intro {
        font-size: 4rem;
        margin-left: -1%;
        margin-top: -11%;
    }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (max-width: 768px) {

    .intro {
        margin-left: -1%;
        margin-right: 32%;
        margin-top: -10%;
        font-size: 3.5rem;
    }
    

}

@media only screen and (max-width: 500px) {
    .intro {
        margin-left: 13%;
        margin-right: 30%;
        margin-top: -5%;
        font-size: 3rem;
    }

    .img {
        max-width: 22rem;
        max-height: 22rem;
        margin-right: 50rem;
        margin-left: 10rem;
        margin-top: 40%;
    }
}

@media only screen and (max-width: 340px) {
    .intro {
        margin-left: 10%;
        margin-right: 30%;
        margin-top: -13%;
        font-size: 2rem;
    }

    .img {
        max-width: 22rem;
        max-height: 22rem;
        margin-right: 50rem;
        margin-left: 10rem;
        margin-top: 50%;
    }
    
} */





















/* -------------projects---------------------------------------- */
/* @media (max-width: 700px) {
    .project {   
      flex-direction: column;
    }
  }

@media (max-width: 800px) {
    .project {
        flex-direction: column;
    }
}

@media screen and (min-width: 200px) {
    .project {
      width: 15rem;
    }
  }

  @media screen and (min-width: 350px) {
    .project {
      width: 20rem;
    }
  }

 
@media screen and (min-width: 600px) {
    .project {
        width: 60rem;
    }
}

@media screen and (min-width: 800px) {
    .project {
        width: 75rem;
    }
} */


/* -------------------------bio------------------------------ */
/* @media screen and (max-width: 350px) {
    .me {
      width: 20rem !important;
    }
  }

 
@media screen and (max-width: 600px)and {
    .me {
        width: 30rem !important;
    }
}

@media screen and (max-width: 800px) {
    .me {
        width: 45rem !important;
    }
} */

/* @media only screen

  and (min-device-width: 414px)

  and (max-device-width: 736px)

  and (-webkit-min-device-pixel-ratio: 3) {

 CSS Rules Here 

} 