* {
    margin: 0;
    padding: 0;
}

html {
    background-color:black;
    animation: 5s infinite;
}

/* ----------------------body----------------------------------- */
body {
    /* display: flex;
    flex-wrap: wrap; */
    /* min-height: 100; */
    line-height: 1;
    /* flex-direction: column; */
    flex-wrap: wrap;
}
 
/* ------------------------profile img-------------------------- */
.img {
    /* display: flex;
    flex-wrap: wrap;  */
    justify-content: flex-end;
    margin-top: 5%;
    margin-left: 70%;
    max-width: 100%;
    max-height: 100%;
    /* height:  */
    background: linear-gradient(to bottom, rgba(2, 2, 2, 3), rgba(2, 2, 2, 2));
    filter: contrast(160%) opacity(60%) blur(10px);
    border-radius: 50px;
    position: relative;
    left: 0;
    transition: left ease 0.5s;
}

.img:hover {
    filter: opacity(100%) blur(0px);
    left:-3rem;
}

.imgContainer {
    width: 50%;
    margin-top: 3%;
}


.linksContainer {
    width: 50%;
}  

/* --------------------intro--------------------------------------    */
.intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    margin-left: 20%;
    margin-right: 30%;
    margin-top:1%;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6rem;
    font-weight:500;
    text-decoration: none;
}

.hello {
    height: 3rem;
    width: 40rem;
    color: rgb(71, 71, 212);
    text-align: center;
    padding:1rem;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.hello:hover {
    color: red;
    background:rgb(228, 165, 186);
    border-radius: 3rem;
    top: -1.5rem;
}

.Im {
    color: rgb(235, 98, 48);
    text-align: center;
    padding: 1rem;
    text-decoration:none;
    position: relative;
    right: 0;
    transition: right ease 0.5s;
}

.Im:hover {
    color: rgb(45, 45, 185);
    background: rgb(61, 196, 61);
    border-radius: 3rem;
    right: -1.5rem;
}

.Gavin {
    color: purple;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    position: relative;
    bottom: 0;
    transition: bottom ease 0.5s;
}

.Gavin:hover {
    color: rgb(211, 35, 35);
    background:rgb(226, 226, 94);
    border-radius: 3rem;
    bottom: -1.5rem;
}

.goto {
    align-items: left;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet;
    font-size: 3rem;
    height: 10%;
    width: 62rem;
}

/* -----------------------bio--------------------------------- */
.me {
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* flex-direction: center; */
    box-sizing: border-box;
    width: 44rem;
    padding: 1.25rem;
    border: 1px solid white;
    margin-top: 10%;
    margin-left: 17%;
    border-radius: 1.5rem;
    letter-spacing:2px;
    line-height: 1.3;
    position: relative;
    right: 0;
    transition: right ease 0.5s;
}

.me:hover {
    filter: opacity(100%) blur(0px);
    background: rgb(238, 203, 137);
    right: -2.5rem;
    color: black;
}

/* --------------------projects--------------------------- */
.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 25%;
}

.golf {
    display: flex;
    color: rgb(238, 82, 82);
    text-align: center;
    padding: 1.25rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.golf:hover {
    color: rgb(212, 190, 64);
}

.bonanza {
    display:flex;
    flex-direction: center;
    text-decoration: none;
    color: rgb(35, 165, 35);
    text-align: center;
    padding:1.25rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bonanza:hover {
    color: rgb(224, 135, 209);
}

.blues {
    display: flex;
    text-align: left;
    color:rgb(233, 178, 76);
    text-align: center;
    padding:1.25rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blues:hover {
    color: rgb(52, 146, 175);

}

.lite {
    display:flex;
    color:rgb(211, 183, 231);
    text-align: center;
    padding:1.25rem;
    font-size: 1.5rem;
    text-decoration: none;
}

.lite:hover {
    color: lightgreen;
}

/* --------------project images----------------------------- */
.disc{
    display: flex;
    flex-wrap: wrap; 
    width: 35%;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgba(2, 2, 2, 3), rgba(2, 2, 2, 2));
    filter: contrast(160%) opacity(60%) blur(10px);
    position: relative;
    left: 0;
    transition: left ease 0.5s
}

.disc:hover {
    filter: opacity(100%) blur(0px);
    border-radius: 25px;
    left: 10px;
    transform:scale(1.2);
    transition: ease 0.5s;
}

.bicycle {
    display: flex;
    flex-wrap: wrap; 
    width: 40%;
    margin-left: 50px;
    margin-right: -30px;
    border-radius: 75px;
    background: linear-gradient(to bottom, rgba(2, 2, 2, 3), rgba(2, 2, 2, 2));
    filter: contrast(160%) opacity(60%) blur(10px);
    position: relative;
    right: 0;
    transition: right ease 0.5s
}
    
.bicycle:hover{
    filter: opacity(100%) blur(0px);
    border-radius:25px;
    right: 10px;
    transform:scale(1.2);
    transition: ease 0.5s;
}
    

.paddle {
    display: flex;
    flex-wrap: wrap; 
    width: 35%;
    margin-left: 6%;
    border-radius: 25px;
    background: linear-gradient(to bottom, rgba(2, 2, 2, 3), rgba(2, 2, 2, 2));
    filter: contrast(160%) opacity(60%) blur(10px);
    padding: 3%;
    position: relative;
    left: 0;
    transition: left ease 0.5s
}

.paddle:hover {
    filter: opacity(100%) blur(0px);
    border-radius:25px;
    left: 10px;
    transform:scale(1.2);
    transition: ease 0.5s;
}


.miller {
    width: 40%;
    border-radius: 25px;
    background: linear-gradient(to bottom, rgba(2, 2, 2, 3), rgba(2, 2, 2, 2));
    filter: contrast(160%) opacity(60%) blur(10px);
    padding: 3%;
    position: relative;
    right: 0;
    transition: right ease 0.5s;
}

.miller:hover {
    filter: opacity(100%) blur(0px);
    border-radius:25px;
    right: 10px;
    transform:scale(1.2);
    transition: ease 0.5s;
}

.LI-profile-badge {
    margin-right: 20px;
}

/* ----------------------footer--------------------- */
.carpe:hover {
    background: rgb(238, 203, 137);
    right: -40px;
    color: black;
}

footer {
    display:flex;
    flex-wrap:wrap;
    color: rgb(238, 238, 99);
}

.email, button {
    display:flex;
    flex-wrap:wrap;
    width: 25%;
}

.carpe {
    display:flex;
    flex-wrap:wrap;
    color: whitesmoke;
    color: whitesmoke;
    font-size: 25px;
    flex-direction: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: center;
    box-sizing: border-box;
    width: 350px;
    padding: 15px;
    border: 1px solid white;
    margin-top: 20px;
    margin-left: 28%;
    margin-bottom: 20px;
    border-radius: 25px;
    letter-spacing:2px;
    line-height: 1.3;
    position: relative;
    right: 0;
    transition: right ease 0.5s;
}

.badges {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 28%;
    margin-bottom: 20%
}

.end {
    margin-top: 10%;
}

/* -------------keep this---------------------------------------- */
@media (max-width: 700px) {
    .project {   
      flex-direction: column;
    }
  }
/* --------------------------------------------------------------- */

@media screen and (min-width: 200px) {
    .me {
      width: 15rem;
    }
  }

@media screen and (min-width: 350px) {
    .me {
      width: 20rem;
    }
  }

 
@media screen and (min-width: 600px) {
    .me {
        width: 30rem;
    }
}

@media screen and (min-width: 800px) {
    .me {
        width: 45rem;
    }
}

/* @media only screen and (max-width: 768px) {
    /* For mobile phones: 
    [class*="col-"] {
      width: 100%;
    }
  } */




/* @media only screen and (min-width: 600px) {
    .intro {
        flex-wrap: wrap;
    } 
}

@media only screen and (min-width: 700px) {
    .me  {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 700px) {
    .project {
        flex-wrap: wrap;
    } 
}

@media only screen and (min-width: 700px) {
    .end {
        flex-wrap: wrap;
    }
} */ 